<div class="container text-center">
  <div class="alert alert-secondary text-center">
    <h1>All posts..</h1>
  </div>

  <table  class="table table-bordered">
    <thead class="bg-dark">
      <tr class="text-white">
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Comments Allowed</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody class="text-center">
      {{#each posts}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.status}}</td>
        <td>{{this.allowComments}}</td>
        <td>{{this.category.title}}</td>
        <td class="d-flex">
          <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit</a>
          <form  action="/admin/posts/delete/{{this.id}}?newMethod=DELETE" method="post">
             <button type="submit"  class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
